<?xml version="1.0"?>
<launch>
    <!-- Gazebo options -->
    <arg name="use_rviz" default="true" />

    <!-- Start the robot state publisher, simulation, and controler -->
    <!-- <include file="$(find dual_gp4_moveit_config)/launch/demo_gazebo.launch">
    </include> -->

    <include file="$(find dual_gp4_moveit_config)/launch/demo.launch">
        <arg name="use_rviz" value="$(arg use_rviz)" />
    </include>

    <node name="left_arm" pkg="mr_planner" type="yk_robot" output="screen">
        <param name="group_name" value="left_arm" />
    </node>

    <node name="right_arm" pkg="mr_planner" type="yk_robot" output="screen">
        <param name="group_name" value="right_arm" />
    </node>

    <!-- Start the demo test node -->
    <node name="test_collision" pkg="mr_planner" type="demo" output="screen"/>

</launch>