<?xml version="1.0"?>
<launch>
    <!-- Gazebo options -->
    <arg name="use_rviz" default="true" />

    <!-- Start the robot state publisher, simulation, and controler -->
    <!-- <include file="$(find dual_gp4_moveit_config)/launch/demo_gazebo.launch">
    </include> -->

    <include file="$(find dual_gp4_moveit_config)/launch/demo.launch">
        <arg name="use_rviz" value="$(arg use_rviz)" />
    </include>

   
    <!-- Start the demo test node -->
    <node name="test_collision" pkg="mr_planner" type="test_collision" output="screen"/>

</launch>