<?xml version="1.0"?>
<launch>
    <!-- Gazebo options -->
    <arg name="ns" default="/" />
    <arg name="use_rviz" default="true" />
    <arg name="benchmark" default="false" />
    <arg name="random_shortcut" default="true" />
    <arg name="random_shortcut_time" default="0.1" />
    <arg name="tight_shortcut" default="true" />
    <arg name="output_file" default="$(find mr_planner)/outputs/dual_gp4_benchmark.csv" />

    <group ns="$(arg ns)">
        <!-- Start the robot state publisher, simulation, and controler -->
        <!-- <include file="$(find dual_gp4_moveit_config)/launch/demo_gazebo.launch">
        </include> -->

        <include file="$(find panda_four_bins_moveit_config)/launch/demo.launch">
            <arg name="use_rviz" value="$(arg use_rviz)" />
        </include>

        <!-- Start the demo test node -->
        <node launch-prefix="xterm -e gdb --args" name="test_collision" pkg="mr_planner" type="demo" output="screen" required="true">
            <param name="num_robots" value="4" />
            <param name="movegroup_name" value="panda_multi_arm" />
            <param name="group_name_0" value="panda0_arm" />
            <param name="group_name_1" value="panda1_arm" />
            <param name="group_name_2" value="panda2_arm" />
            <param name="group_name_3" value="panda3_arm" />
            <param name="mfi" value="false" />
            <param name="async" value="false" />
            <param name="shortcut" value="true" />
            <param name="random_shortcut" value="$(arg random_shortcut)" />
            <param name="random_shortcut_time" value="$(arg random_shortcut_time)" />
            <param name="tight_shortcut" value="$(arg tight_shortcut)" />
            <param name="planner_name" value="RRTConnect" />
            <param name="benchmark" value="$(arg benchmark)" />
            <param name="output_file" value="$(arg output_file)" />

            <param name="planning_time_limit" value="4.0" />
            <param name="benchmark" value="$(arg benchmark)" />
            <param name="pose_name" value="grasp_1" />
        </node>
    </group>

</launch>